<%- include("../partials/header") %>

<!-- Default form login -->
<form class="text-center border border-light p-5" action="/reset/<%= token %>" method= "post">

    <p class="h4 mb-4">Reset-Password</p>

    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="New-Password">

    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Confirm-Password">

    


    <!-- Register -->
 
</form>
<!-- Default form login -->

<%- include("../partials/footer") %>